body{
    background-image : url(https://t3.ftcdn.net/jpg/03/23/88/08/360_F_323880864_TPsH5ropjEBo1ViILJmcFHJqsBzorxUB.jpg);
    
 margin: 0px;
}
.zuzu{
    width: 100px;
    height: 150px;


}
.sotu{
    width: 100px;
    height: 150px;

}
